<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Meus Contactos</h1>

  <a href="{{ url_for('adicionar_contacto') }}">Adicionar Contacto</a>

  <ul>
    {% for contacto in contactos %}
      <li>
        {{ contacto["id"] }} - {{ contacto["nome"] }}: {{ contacto["telefone"] }}
        <br>
        <a href="{{ url_for('editar_contacto', id=contacto['id']) }}">Editar</a>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
