{% extends "base.html" %}

{% block title %}Novo Contacto{% endblock %}

{% block content %}

  <h2 class="mb-4"><i class="bi bi-person-add"></i> Novo Contacto</h2>

  <form action="{{ url_for('create') }}" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Nome</label>
      <input type="text" name="name" id="nameInput" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Endereço de e-mail</label>
      <input type="email" name="email" id="emailInput" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">Telefone ou Telemóvel</label>
      <input type="tel" name="phone" id="phoneInput" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">
      <i class="bi bi-floppy"></i> Adicionar Contacto
    </button>
  </form>

{% endblock %}
